<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta property="og:image" content="images/facebook_cover.jpg">
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="1640">
		<meta property="og:image:height" content="924">

		<meta name="theme-color" content="#090909">

		<title>Half Pint Games</title>
		<meta name="description" content="Indie video game developer based out of Montreal, Canada." />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    </head>

    <body>
		<section id="content">
		    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
				<div class="container">
					<a class="navbar-brand" href="#">
					<img class="nav-item" src="images/HP-logo3-tight.png" width="40" height="31" alt="Half Pint Games"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="hamburger">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#games">Games</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#contact">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
        
			<div class="container splash module" id="home">
				<div class="item align-middle">
					<p class="lead">A Division of Half Pint Media</p>
					<h1>Half Pint Games</h1>
					<h3 id="splash-caption">Indie Developer. Professional Passion.</h3>
				</div>
			</div>
			
			<div class="container module" id="games">
				<h2>Our Games</h2>
				<div class="row">
					<div class="col-12 col-lg-6">
						<h3>
							The Magic Flute
						</h3>
						<p>
							Mozart's timeless classic opera comes to 16-bit life in this action-RPG depicting Tamino's quest to save Princess Pamina.
						</p>
						<p>
							Sent by the duplicitous Queen of the Night, Tamino (along with his bird-loving sidekick, Papageno) travels far and wide, seeing unimagineable wonders. When he finally confronts Sarastro, the wizened priest reveals that the Queen of the Night is not all she claims to be, and Princess Pamina's greatest threat may lurk beyond the walls of Sarastro's temple...
						</p>
					</div>
					<div class="col-12 col-lg-6 d-flex align-items-center">
						<video src="clip1.mp4" width="100%" controls loop autoplay></video>
					</div>
				</div>
				<hr class="games-hr">
				<div class="row">
					<div class="col-12 col-lg-6">
						<h3>
							Paddler
						</h3>
						<p>
							The classic virtual ping-pong experience goes mobile with Paddler!
						</p>
						<p>
							Everyone's favourite sort-of-sport can now be played on the go, including audio and difficulty settings, a dynamic background that changes as you advance, and the option to spend your points (or watch a promotional video) to continue the game after your last life is spent! Paddler is the mobile ping-pong game for the new generation!
						</p>
					</div>
					<div class="col-12 col-lg-6 d-flex align-items-center">
						<video src="clip2.mp4" width="100%" controls loop autoplay></video>
					</div>
				</div>
				<hr class="games-hr">
				<div class="row">
					<div class="col-12 col-lg-6">
						<h3>
							Zombie Escape
						</h3>
						<p>
							Can you outrun the zombie menace long enough to escape?
						</p>
						<p>
							In Half Pint Games' first foray into 3D gaming, take control of Clint Maxwood, an ex-Marine mercenary deep behind enemy lines where a lab-grown feral zombie is roaming free. Can you survive long enough for Clint to get to the chopper? Only time will tell. Time, and testosterone.
						</p>
					</div>
					<div class="col-12 col-lg-6 d-flex align-items-center">
						<video src="clip3.mp4" width="100%" controls loop autoplay></video>
					</div>
				</div>
			</div>

			<div class="container">
				<hr class="section-hr">
			</div>

			<div class="container module" id="about">
				<h2>About Half Pint Games</h2>
				<div class="row">
					<div class="col-12 col-xl-6">
						<p>
							Half Pint Games is an independent video game developer owned and operated by 
							Michael King. Originally from Winnipeg, Manitoba, Michael also spent nearly 
							a decade living in Saskatchewan where he completed a BA Music degree. During much of 
							that time he also pursued self-directed studies in Unity3D, C#, C++, HTML5, CSS3, and 
							other programming languages.
						</p>
						<p>
							Michael now lives in Montreal, Quebec where he is pursuing a career in web development. 
							Half Pint Games is his hobbyist outlet for self-made video games.
						</p>
					</div>

					<div class="col">
						<div id="carousel">
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
								</ol>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img class="d-block w-100" src="images/the-magic-flute.png?auto=yes&bg=777&fg=555&text=The Magic Flute" alt="the-magic-flute">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="images/paddler-gameplay.png?auto=yes&bg=666&fg=444&text=Paddler" alt="paddler-gameplay">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="images/paddler-menu.png?auto=yes&bg=555&fg=333&text=Paddler" alt="paddler-menu">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="images/paddler-options.png?auto=yes&bg=555&fg=333&text=Paddler" alt="paddler-options">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="images/paddler-gameplay-2.png?auto=yes&bg=555&fg=333&text=Paddler" alt="paddler-gameplay-2">
									</div>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container">
				<hr class="section-hr">
			</div>

			<div class="container module" id="contact">
				<h2>Contact Us</h2>
				<p>
					If you would like to contact Half Pint Games, please use the form  below. We will respond 
					as soon as possible!
				</p>
				<form action="send" method="POST">
					<p><%= contactMsg %></p>
					<div class="form-group">
						<input class="form-control" type="text" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" name="message" rows="10" placeholder="Enter your message here..." required></textarea>
					</div>
					<button type="submit" class="btn btn-light btn-block" id="form-btn">Submit</button>
				</form>
			</div>
		</section>
		
		<footer>
			<p>Copyright Half Pint Media 2018 All Rights Reserved.</p> 
			<p><a href="https://www.facebook.com/halfpintgamesofficial">Facebook</a></p>
			<p><a href="https://twitter.com/Half_Pint_Games">Twitter</a></p>
			<p><a href="#">Half Pint Media</a></p>
		</footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
