<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:image" content="images/facebook_cover.jpg">
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="1640">
		<meta property="og:image:height" content="924">
		<meta name="theme-color" content="#090909">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Half Pint Games</title>
		<meta name="description" content="Indie video game developer based out of Montreal, Canada." />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    </head>
    <body>
		<section id="content">
		    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
				<div class="container">
					<a class="navbar-brand" href="#">
					<img class="nav-item" src="images/HP-logo3-tight.png" width="40" height="31" alt="Half Pint Games"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="hamburger">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#games">Games</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#contact">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="container splash module" id="home">
				<div class="item align-middle">
					<p class="lead">A Division of Half Pint Media</p>
					<h1>Half Pint Games</h1>
					<h3>Indie Developer. Professional Passion.</h3>
				</div>
			</div>
			<div class="container module" id="games">
				<h2>Games</h2>
				<div class="game row">
					<div class="col-12 col-lg-6">
						<h3>
							Adventure Platformer
						</h3>
						<p>
							The unimaginatively titled "Adventure Platformer" (working title, don't worry) is an homage to one of my favourite genres. Hearkening back to classics like Ratchet & Clank, Jak & Daxter, and the classic Zelda games, Adventure Platformer will be a simple but engaging, story-driven 3D platforming adventure (hence the title).
						</p>
						<p>
							Out for revenge against the robots that have enslaved the world, our hero finds an unlikely friend in a small, helpless automaton who was cast away by the very society our hero seeks to defeat. As their stories intertwine in a tale of vengence and sacrifice, our hero will learn that humanity is, perhaps, a more universal virtue than he at first assumed.
						</p>
					</div>
					<div class="col-12 col-lg-6 d-flex align-items-center">
						<video src="AdventurePlatformer01.mp4" width="100%" controls loop autoplay></video>
					</div>
				</div>
				<div class="game row">
					<div class="col-12 col-lg-6">
						<h3>
							Colorscape
						</h3>
						<p>
							Chosen as a Simmer.io Editor's Choice title for February 2020, Colorscape is a minimalist puzzle game where color combinations are the key to success.
						</p>
						<p>
							Through rooms of ever-increasing challenge, find your way through doors, across traps and around hazards to find your escape. But remember -- nothing is your enemy, and anything could be a friend.
						</p>
						<p>
							Play Colorscape online at <a href="https://simmer.io/@michaelking178/colorscape" target="_blank">Simmer.io</a>!
						</p>
					</div>
					<div class="col-12 col-lg-6 d-flex align-items-center">
						<video src="Colorscape01.mp4" width="100%" controls loop autoplay></video>
					</div>
				</div>
				<div class="game row">
					<div class="col-12 col-lg-6">
						<h3>
							Mars Marine
						</h3>
						<p>
							Set in the alien-infested wastescapes of Mars, this twin-stick shooter puts you in the middle of the action as you fight single-handedly to rid the Red Planet of its insectoid infestation.
						</p>
						<p>
							Combining top-down action with roguelike progression, Mars Marine sets you on a legendary path of heroism against a relentless and seemingly insurmountable foe.
						</p>
					</div>
					<div class="col-12 col-lg-6 d-flex align-items-center">
						<video src="MarsMarine01.mp4" width="100%" controls loop autoplay muted></video>
					</div>
				</div>
			</div>
			<div class="container">
				<hr class="section-hr">
			</div>
			<div class="container module" id="about">
				<h2>About Half Pint Games</h2>
				<div class="row">
					<div class="col-12 col-xl-6">
						<p>
							Half Pint Games is an independent video game developer owned and operated by 
							Michael King. Originally from Winnipeg, Manitoba, Michael also spent nearly 
							a decade living in Saskatchewan where he completed a BA Music degree. During much of 
							that time he also pursued self-directed studies in Unity3D, C#, C++, HTML5, CSS3, and 
							other programming languages.
						</p>
						<p>
							Michael now lives in Montreal, Quebec where he is pursuing a career in software development. 
							Half Pint Games is his hobbyist outlet for self-made video games.
						</p>
					</div>
					<div class="col">
						<div id="carousel">
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
								</ol>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img class="d-block w-100" src="images/MarsMarine01.png?auto=yes&bg=777&fg=555&text=Mars Marine" alt="mars-marine">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="images/Colorscape01.png?auto=yes&bg=666&fg=444&text=Colorscape" alt="colorscape-1">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="images/Colorscape02.png?auto=yes&bg=555&fg=333&text=Paddler" alt="colorscape-2">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="images/AdventurePlatformer01.png?auto=yes&bg=555&fg=333&text=Paddler" alt="adventure-platformer-1">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="images/AdventurePlatformer02.png?auto=yes&bg=555&fg=333&text=Paddler" alt="adventure-platformer-2">
									</div>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<hr class="section-hr">
			</div>
			<div class="container module" id="contact">
				<h2>Contact Me</h2>
				<p>
					Want to contact Half Pint Games? Please reach out on Facebook! You'll find my social media links at the bottom of the page.
				</p>
				<!-- <form action="send" method="POST">
					<p><%= contactMsg %></p>
					<div class="form-group">
						<input class="form-control" type="text" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" name="message" rows="10" placeholder="Enter your message here..." required></textarea>
					</div>
					<button type="submit" class="btn btn-light btn-block" id="form-btn">Submit</button>
				</form> -->
			</div>
		</section>
		<footer>
			<p>Copyright Half Pint Media 2018-2020 All Rights Reserved.</p> 
			<p><a href="https://www.facebook.com/halfpintgamesofficial">Facebook</a></p>
			<p><a href="https://twitter.com/Half_Pint_Games">Twitter</a></p>
			<p><a href="#">Half Pint Media</a></p>
		</footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
