/*----------------/
/  Initial Setup  /
/----------------*/
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    color: #ddd;
}

html {
	background-color: #090909;
	scroll-behavior: smooth;
}

.container {
	width: 80%;
	max-width: 1200px;
}

/*---------------/
/  Navbar Setup  /
/---------------*/
.navbar {
	background: rgba(10, 10, 10, 0.9);
}

.nav-item {
	margin-right: 1.5vh;
}

/*---------------/
/  Main Content  /
/---------------*/

h1, h2, h3, #splash-caption {
	font-family: "Fjalla One";
}

h1 {
	font-size: 4rem;
}

h2 {
	padding-bottom: 50px;
	font-size: 3rem;
}

footer {
	min-height: 10vh;
	background-color: #090909;
	padding-top: 3vh;
}

footer p {
	color: #999;
	font-size: .85rem;
	text-align: center;
	line-height: .25;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #777;
	text-decoration: none;
}

.splash {
	align-items: center;
	justify-content: center;
}

.module {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.module h2 {
	padding-top: 10vh;
	margin: 0 auto;
}

.row {
	align-content: middle;
}

.item {
	max-width: 1200px;
	text-align: center;
}

.carousel {
	width: 100%;
	margin: 0 auto;
}

.games-hr {
	margin-top: 3vh;
}

.section-hr {
	width: 50%;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #999, #333);
    margin: 5vh auto 0 auto;
}

#content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/frontpage.jpg");
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#hamburger:focus {
	outline: none;
	box-shadow: none;
}

/*--------------/
/ Media Queries /
/--------------*/
@media (min-width: 768px) {
	.game-title {
	  font-size: 3.5rem;
	}
	
	p {
		font-size: 1.4rem;
	}

	h1 {
		font-size: 6rem;
	}
}
